<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8">

  <div class="flex flex-wrap space-y-6 mb-4">

    <div class="w-full md:w-3/5 flex flex-col space-y-4 md:pr-8 lg:pr-10">

      <a class="flex items-center group" href="{{ absLangURL "" }}">
        <span class="text-2xl font-semibold">vdtlv portfolio</span>
      </a>

      <p class="text-zinc-400">
        <!--А еще есть сайт, который работает только в впн <a class="hover:underline decoration-auto text-zinc-600" href="https://vdtlv.me/" target="_blank" rel="noopener">vdtlv.me</a><br>-->
        Для связи:
        <a class="hover:underline decoration-auto text-zinc-600" href="mailto:contact@vdtlv.me" target="_blank" rel="noopener">почта</a>, 
        <a class="hover:underline decoration-auto text-zinc-600" href="https://www.linkedin.com/in/vdtlv/" target="_blank" rel="noopener">Линкедин</a> или <a class="hover:underline decoration-auto text-zinc-600" href="https://www.t.me/vdtlv/" target="_blank" rel="noopener">Телеграм</a>
      </p>
      <p>
        </p>
    </div>

    <div class="self-center flex flex-col w-full md:w-2/5">

<!--{{ partial "content/social-media.html" . }}-->

    </div>
    
  </div>

  <!--<div class="my-8">
    <ul class="flex items-center space-x-4">
      {{ range .Site.Menus.main }}
        <li><a class="decoration-auto hover:underline font-semibold" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>-->

  <div class="border-t pt-4 border-gray-200">

    <p class="text-zinc-400 text-sm">{{ now.Year }} Большая благодарность Ингвару Кампарду, <a class="hover:text-zinc-600" href="https://karasevm.ru/" target="_blank" rel="noopener">Максиму Карасеву</a>, Клоду и ребятам с ютуба.</p>

  </div>
  
</div>
