<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  <!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(m,e,t,r,i,k,a){
        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=112658192', 'ym');

    ym(112658192, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/112658192" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  {{ partial "head.html" . }}
</head>
<body>
  <header class="py-6 border-b border-gray-200">
    {{- partial "header.html" . -}}
  </header>
  <main class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8">
    {{- block "main" . }}{{ end -}}
  </main>
  <footer class="bg-zinc-100 py-10 md:py-14">
    {{- partial "footer.html" . -}}
  </footer>
  {{- partialCached "footer/js.html" . }}
</body>
</html>
